@use "../foundation" as *;

.c-works-item {
  padding: prem(50) prem(40) 0 prem(40);
  display: inline-block;
  width: 100%;

  @include mq("md") {
    padding-top: prem(30);
    display: block;
  }

  & a {
    display: flex;
    flex-direction: row;
    padding-bottom: prem(50);
    border-bottom: 1px solid #e2e2e2;

    @include mq("md") {
      padding-bottom: prem(30);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__img {
    margin-right: prem(50);
    width: 100%;
    display: block;
    max-width: prem(290);
    @include mq("md") {
      width: 100%;
      margin-right: prem(18);
      max-width: prem(120);
      min-width: prem(120);
    }
  }

  &__img img {
    aspect-ratio: 290 / 229;
    width: 100%;
    height: auto;
    object-fit: cover;

    @include mq("md") {
      aspect-ratio: 120 / 90;
    }
  }

  &__content {
    width: 100%;
  }

  &__title {
    font-size: prem(24);
    margin-top: prem(30);
    font-weight: $medium;

    @include mq("md") {
      font-size: prem(14);
      margin-top: prem(14);
      line-height: calc(28 / 14);
    }
  }

  &__text {
    font-size: prem(16);
    color: $color-text;
    margin-top: prem(36);
    line-height: calc(38 / 16);

    @include mq("md") {
      display: none;
    }
  }

  &-date {
    margin-top: prem(17);

    @include mq("md") {
      font-size: prem(10);
    }
  }

  &--archive {
    display: inline-block;
    margin-left: prem(60);
    padding: 0;
    min-width: prem(776);

    @include mq("md") {
      margin-left: 0;
      width: 100%;
      min-width: initial;
    }

    + .c-works-item--archive {
      padding-top: prem(30);
    }

    .c-works-item__content {
      position: relative;
    }

    & a {
      padding-bottom: prem(30);

      @include mq("md") {
        padding-bottom: prem(20);
      }
    }

    .c-works-item__img {
      margin-right: prem(30);
      width: 100%;
      max-width: prem(160);

      @include mq("md") {
        margin-right: prem(15);
        max-width: prem(130);
      }
    }

    .c-works-item__img img {
      aspect-ratio: 160 / 160;
      width: 100% ;
      height: auto ;
      object-fit: cover;

      @include mq("md") {
        aspect-ratio: 130 / 100;
      }
    }

    .c-works-item__title {
      font-size: prem(18);

      @include mq("md") {
        font-size: prem(14);
        margin-bottom: prem(20);
      }
    }

    .c-works-item__date {
      position: absolute;
      bottom: 0;
      margin-top: 0;
    }
  }
}

